<li class="list-group-item d-flex align-items-center mb-2">
    <div
        class="justify-content-start todo-text"
        [ngStyle]="{
            'text-decoration':
                currentStatus === 'Done' ? 'line-through' : 'none'
        }"
    >
        {{ text }}
    </div>
    <div class="d-inline-flex ml-auto p-1">
        <select
            id="task"
            class="form-control ml-3 w-auto"
            [ngModel]="currentStatus"
            (ngModelChange)="changeStatus($event)"
        >
            <option *ngFor="let status of statuses">
                {{ status }}
            </option>
        </select>
        <button
            mat-mini-fab
            color="warn"
            class="ml-3"
            (click)="remove()"
            aria-label="Delete item"
        >
            <mat-icon>delete</mat-icon>
        </button>
        <!-- <button mat-fab color="primary" (click)="remove()">x</button> -->
    </div>
</li>
