<div>
    <p>New ToDo:</p>
    <textarea
        id="todo"
        name="todo"
        placeholder="Enter new ToDo here..."
        style="white-space: pre"
        class="form-control"
        [(ngModel)]="taskText"
    ></textarea>
    <button
        mat-fab
        color="primary"
        class="mt-3"
        (click)="addNewTodo(taskText)"
        aria-label="Add item"
    >
        <mat-icon>add</mat-icon>
    </button>
    <!-- <button class="btn btn-primary my-2" (click)="addNewTodo(taskText)">

    </button> -->
</div>
